In [1]:
a = input("what number do you like?")
print(a)

In [5]:
s = "sheep"
s= s.upper()
print(s)

SHEEP

In [14]:
t = [1,0,5,69,89,0, "string", 5.044, 4550000, [48.49,100]]
print(t[-1][-1])

100

In [16]:
s =[5.345,23342,2424,234445,[54,324,7]]
len(s[-1])

3

In [20]:
s = "tihsisastring"
s[4]

'i'

In [29]:
i = []
i.append(0)
i.append(2)
i.append(4)
i

[0, 2, 4]

In [32]:
r= [45,435,456,234]
r.insert(1,78)
r.insert(2,564)
r.insert

r

[45, 78, 564, 435, 456, 234]

In [27]:
r.pop()
r

[45, 78, 435, 456]

In [44]:
o = [0,6,4,3,1,2,5]
b = o
o.sort(reverse=True)
o
print(b)
print(o)

[6, 5, 4, 3, 2, 1, 0]
[6, 5, 4, 3, 2, 1, 0]

In [37]:
p = [0,6,4,3,1,2,5]
r = sorted(p, reverse=True)

print(r)

[6, 5, 4, 3, 2, 1, 0]

In [41]:
a = 5
int(a)

5

In [46]:
my_list = ["priya","amy","sean","nick","jacob"]
new_list =[]
for i in my_list:
    new_name =i.upper()
    new_list.append(new_name)
    print(new_name)
print(new_list)

PRIYA
AMY
SEAN
NICK
JACOB
['PRIYA', 'AMY', 'SEAN', 'NICK', 'JACOB']

In [ ]:
my_list = ["priya","sean","nick","amy"]

In [47]:
for i in range (0,10):
    print(i)
    if i==4:
        i=10

0
1
2
3
4
5
6
7
8
9

In [45]:
for i in range(0,5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [48]:
i = 0
while i < 12:
    print(i)
    if i == 4:
        i = 10 
    i += 1

0
1
2
3
4
11

In [ ]:
my_list = ["priya","amy","sean","nick","jacob"]
new_list = [i.upper()for i in my_list]
print[]

In [49]:
my_list = ["priya","amy","sean","nick","jacob"]
for index,item in enumerate(my_list):
    print(f"{index}. {item}")

0. priya
1. amy
2. sean
3. nick
4. jacob

In [52]:
my_list[0]
print("hello world")

hello world

In [61]:
my_list[-2]
for index,item in enumerate(my_list):
    print(f"{index}. {item}")

0. priya
1. amy
2. sean
3. nick
4. jacob